<div>
  <a class="brand" href="/">
    <%= image_tag "https://adquick.com/assets/logo-1d6a51c66c78b7af1a6f683092f4377383cb2139526d4a3492925d7c66db09c0.png", class: "dark-brand" %>
    <%= image_tag "//https://adquick.com/assets/logo-1d6a51c66c78b7af1a6f683092f4377383cb2139526d4a3492925d7c66db09c0.png", class: "light-brand" %>
  </a>
</div>